<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/icons/favicon-zombi.png">
  <link rel="apple-touch-icon" href="img/icons/favicon-zombi.png">
  <title>Colaboradores</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header id="header" class="header">
    <div class="header-container">
      <img src="../img/icons/Logotipo.png" class="logo" alt="Logotipo de página web">
      <div>
        <button class="open-menu" id="open"><img src="../img/icons/open-menu.svg"></button>
        <nav class="nav" id="nav">
          <button class="close-menu" id="close"><img src="../img/icons/close-menu.svg"></button>
          <ul class="nav-list">
            <li><a href="../templates/colaboradores.html">Contáctanos</a></li>
            <li><a href="https://www.escaperoomlover.com/es/escape-room-online-gratis?srsltid=AfmBOoqq8Hl6FO_Y5-Ne94qtDcjkVmcL1KlA0IrU3JRoWsVSyO_WjPAw" target="_blank" rel="noopener noreferrer">Más juegos</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <section class="colaborators-container">
    </section>
  </main>
  <footer id="footer">
    <p>© 2006 Scape&Play. Todos los derechos reservados.</p>
  </footer>
  <script src="../js/script.js"></script>
  <!-- <script src="events.js"></script> -->
</body>
</html>