<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scape&Play</title>
</head>
<body>
  <header id="header">
    <nav>
      <ul>
        <img src="img/icons/Logotipo.png" alt="Logotipo de página web">
        <li><a href="#contact">Contacto</a></li>
        <li><a href="https://www.escaperoomlover.com/es/escape-room-online-gratis?srsltid=AfmBOoqq8Hl6FO_Y5-Ne94qtDcjkVmcL1KlA0IrU3JRoWsVSyO_WjPAw" target="_blank">Mas Juegos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="hero">
      <h1>Empieza tu supervivencia zombie</h1>
      <p>¡Prepárate para escapar!</p>
      <a href="reto.html">Empezar juego</a>
    </section>
  </main>
  <footer id="footer">
    © 2006 Scape&Play. Todos los derechos reservados.
  </footer>
</body>
</html>