<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="..../assets/img/icons/favicon-zombi.png">
  <link rel="apple-touch-icon" href="../assets/img/icons/favicon-zombi.png">
  <link rel="icon" href="../assets/img/icons/favicon-zombi.png">
  <link rel="apple-touch-icon" href="..../assets/img/icons/favicon-zombi.png">
  <title>Scape&Play</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/reto3.css">
  <link rel="stylesheet" href="../css/reto1.css">
</head>


<body>
  <header id="header" class="header">
    <div class="header-container">
      <img src="../assets/img/icons/Logotipo.png" class="logo" alt="Logotipo de página web">
        <div>
        <button class="open-menu" id="open"><img src="../assets/img/icons/open-menu.svg" alt="open-menu"></button>
        <nav class="nav" id="nav">
          <button class="close-menu" id="close"><img src="../assets/img/icons/close-menu.svg" alt="close-menu"></button>
          <ul class="nav-list">
            <li><a href="#contact">Contacto</a></li>
            <li><a href="https://www.escaperoomlover.com/es/escape-room-online-gratis?srsltid=AfmBOoqq8Hl6FO_Y5-Ne94qtDcjkVmcL1KlA0IrU3JRoWsVSyO_WjPAw" target="_blank" rel="noopener noreferrer">Más juegos</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>

    <section id="reto-1">
    </section>

    <div id="hud">
      <button id="abandonar" class="btn-salir">ABANDONAR</button>
      <div id="timer" class="timer"></div>
    </div>


   




  </main>
  <footer id="footer">
    <p>© 2006 Scape&Play. Todos los derechos reservados.</p>
  </footer>
<script type="module" src="../js/script.js"></script>

</body>


</html>